h2 {
	text-align: center;
}

ul {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
}

#placeholder1 {
	float: right;
}

#services ul,
#citiesList ol,
#funFacts ul {
	margin-top: 30px;
	margin-bottom: 90px;
	text-align: center;
	justify-content: space-evenly;
}

#services li,
#citiesList li,
#funFacts li {
	border: 5px;
	border-style: solid;
	border-width: 3px;
	padding: 70px;
}

img {
	margin: 20px;
}
