aside {
	float: left;
	margin-right: 20px;
	box-sizing: content-box;
	width: 150px;
}

aside p {
	text-align: left;
}

img {
	margin: 20px;
}

#placeholder1 {
	float: right;
}

#placeholder2 {
	float: left;
}

#placeholder3 {
	float: right;
}
