body {
	margin-left: 20%;
	margin-right: 20%;
}

p {
	text-align: justify;
}

aside {
	float: left;

	margin-right: 20px;
	box-sizing: content-box;
	width: 150px;
}

aside p {
	text-align: left;
}

nav {
	display: block;
	background-color: lightseagreen;
}

#navBar {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	list-style: none;
}

img {
	margin: 20px;
}

#placeholder1 {
	float: right;
}

#placeholder2 {
	float: left;
}

#placeholder3 {
	float: right;
}
