/* TODO fix size units */
body {
	margin: 0;
	padding-left: 17%;
	padding-right: 17%;
	font-family: Roboto, Arial;
	background-color: #1f2933;
	color: #e5e7ea;
}

p {
	text-align: justify;
}

nav {
	position: sticky;
	top: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
}
/* TODO fix dropdown font-size */
nav a,
nav button {
	font-size: 1.4em;
}

nav,
.banner {
	margin-left: -27%;
	margin-right: -27%;
}

#navBar {
	display: flex;
	flex-flow: row wrap;
	margin-top: 0px;
	justify-content: space-evenly;
	list-style: none;
	padding: 0px;
}

#navBar a:link,
#navBar a:visited,
.dropdown-content a:link,
.dropdown-content a:visited,
.dropdown-btn {
	color: #e5e7ea;
}

#navBar a:link,
#navBar a:visited {
	text-decoration: none;
	color: #e5e7ea;
}

#navBar li {
	color: #e5e7ea;
	margin: auto;
}

.dropdown-btn {
	color: #e5e7ea;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown-menu {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	color: black;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-menu:hover .dropdown-content {
	display: block;
}

nav,
.dropdown-btn,
.dropdown-content a {
	background-color: #018786;
}

.dropdown-content a:hover,
.dropdown-btn:hover,
.dropdown-menu:hover .dropdown-btn {
	background-color: #03dac6;
}

header {
	margin-top: 0;
	margin-bottom: 80px;
	padding-top: 0;
}

.banner {
	display: block;
	margin-top: -3.3%;
	width: 101.5vw;
	height: 45.5vh;
	border: 0px;
	padding: 0px;
}

h1 {
	color: #e5e7ea;
	font-size: 4.8vw;
	margin-top: -35%;
	margin-left: -13%;
	margin-bottom: 33%;
}

h2 {
	font-size: 2.15em;
}

footer {
	margin-top: 10vh;
	margin-left: -27%;
	margin-right: -27%;
	padding-top: 5vh;
	padding-bottom: 5vh;
	background-color: #3e4c59;
	display: flex;
	flex: auto;
	justify-content: center;
	text-align: left;
}

footer a {
	color: #e5e7ea;
	text-decoration: none;
}

table {
	box-sizing: content-box;
	margin-left: 11vw;
}

th {
	height: 50px;
	text-align: left;
}

tr {
	text-align: left;
}

td {
	padding-left: 0px;
	padding-right: 150px;
}

.icon {
	width: 8vw;
	height: 12vh;
}
