body {
	margin-left: 20%;
	margin-right: 20%;
}

p {
	text-align: justify;
}

nav {
	display: block;
	background-color: lightseagreen;
}

#navBar {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	list-style: none;
}
