a,
a:visited {
	text-decoration: none;
	color: #d9e2ec;
}

#services h2,
#citiesList h2,
#funFacts h2 {
	display: flex;
	justify-content: center;
	margin-bottom: 7vh;
}

.list {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

h1 {
	margin-bottom: 25%;
}

#services li {
	border: 3px solid black;
	border-radius: 10%;
	padding: 25px;
	background-color: #d9e2ec;
}

#services p {
	display: flex;
	justify-content: center;
	margin: 0;
	margin-top: 10px;
	color: black;
}

#citiesList h2,
#funFacts h2 {
	margin-top: 10vh;
}

.city-img {
	width: 26vw;
	height: 30vh;
	margin: 15px;
	margin-bottom: 0;
}

#citiesList p {
	display: flex;
	justify-content: center;
}
#funFacts ul {
	list-style: disc;
}

#funFacts li {
	margin-top: 20px;
}
